.players{
    display: flex; /*Властивість контейнера*/
    justify-content: space-between; /*Розподілення контенту*/
    width: 1200px; /*Ширина контейнера*/
    margin: 0 auto; /*Зовнішіні відступи*/
}

.player h2{
    display: flex;
    justify-content: center;
    align-items: center;
}